.catalog-content{
	&__title{
		font-size: 2em;
		margin-top: .75rem;
		margin-bottom: 15px;
	}

	&__img{
		display: block;
		margin: 0 auto;
	}

	&__plot{
		margin: 15px 0px;
		color: #464646;
		font-size: 1em;
    	line-height: 1.3em;
    	letter-spacing: 0.8px;
	}

	.main-accordion{
		&__content{
			border-bottom: 1px solid #fff;
		}

		&__link{
			font-size: 1.2em;
			display: flex;
			padding: 15px;
			text-transform: uppercase;
			text-decoration: none;
			justify-content: space-between;
    		align-items: center;

    		.material-icons{
    			transform: rotate(-90deg);
    			transition: all 0.3s linear;
    		}
		}

		&__episodes{
			overflow: hidden;
			height: 0px;

			.main-episodes{
				&__link{
					display: flex;
    				justify-content: space-between;
    				align-items: center;
    				margin: 10px 0px;
    				color: #000000;

    				.material-icons{
    					color: #2196F3;
    				}
				}
				
				&__name{ font-size: 18px; }

				.green-text{
					.small{ 
						text-transform: uppercase;
    					font-size: 12px;
    				}
				}
			}
		}

		&__content--active{
			.main-accordion__link .material-icons{ transform: rotate(90deg); }

			.main-accordion__episodes{
				height: auto;
				padding: 5px 15px;
			}
		}
	}
}